<template>
  <div class="app-content">
    <div class="app-router-view">
      <router-view />
    </div>
  </div>
</template>

<script>

export default {
  name: "App",
};
</script>

<style lang="scss" scoped>
.app-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  .app-router-view {
    flex: 1;
    padding: 30px var(--gloabl-padding-right) 0 var(--gloabl-padding-left);
  }
}

.navbar-brand {
  color: $primary !important;
}
</style>
